<style type="text/css">
@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}
</style>
<div class="print">
<h1>Listado de proximas citas</h1>

<table class="table">
  <tr>
    <th>Dia</th>
    <th>Hora</th>
    <th>Persona</th>
    <th>Medico</th>
  </tr>

  <% @dates.each do |date| %>
    <tr>
      <td><%= date.date %></td>
      <td><%= date.time %></td>
      <td><%= link_to date.person.name + '' +date.person.first_name , person_path(date.person)  %></td>
      <td><%= link_to date.medic.name , medic_path(date.medic)  %></td>
    </tr>
  <% end %>
</table>
</div>