<p>
  <strong>Hora:</strong>
  <%= @date.time %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @date.date %>
</p>
<p>
  <strong>Persona:</strong>
  <%= @date.person.name %>
</p>
<p>
  <strong>Medico:</strong>
  <%= @date.medic.name %>
</p>