<div class='mini_calendar' id='mini_calendar'></div>
<script>
  var events = [<% unless dates.blank? %>
  <% dates.each do |date| %>
        {title: '', allDay: true, color:'#ffffff', start:new moment('<%= date.to_s(:utc) %>')},
<% end %>
  <% end %>];
  var avalaible = [<%= medic.available_date Date.today %> ];
  // TODO: Take events and know if it is already or not.
  // Do not duplicate the events.
  // IMPORTANT! How can render events if change the month view.
  $('#mini_calendar').fullCalendar(
    {
      events: [],
      header: {
        right: 'today prev,next'
      },
      dayClick: function(date, jsEvent, view){
        d_event = {title:'', start: date, allDay: false, color: '#bce8f1'};
        filtered_events = events.filter(function(el) {
            return !datesAreOnSameDay(el.start._d, d_event.start._d); });
        if (filtered_events.length  !== events.length) {
          events = filtered_events;
          $(this).removeClass('fc-highlight')
        }
        else {
          events.push(d_event);
          $(this).addClass('fc-highlight');
        }
      },
      dayRender: function(date,cell) {
        filtered_events = events.filter(function (el) {
          return !datesAreOnSameDay(el.start._d, date._d);
        });
        if (filtered_events.length  !== events.length) {
          cell.addClass('fc-highlight');
        }
      },
      eventRender: function(){

      },
      locale: 'es',
      height: 'auto',
      defaultView: 'month',
      themeSystem:'bootstrap4',
      firstDay: 1
    });</script>